<div id="content">
  <%= link_to 'Teams', :admin_teams %><br>
  <%= link_to 'Manufacturers', :admin_manufacturers %><br>
  <%= link_to 'Products', :admin_products %><br>
  <%= link_to 'Tags', :admin_tags %><br>
  <%= link_to 'Grades', :admin_grades %><br>
  <%= link_to 'Items', :admin_items %><br>
</div>