<div id="content">

<% if !@is_admin %>
    <%= form_tag("/sessions", method: "post") do %>
        <label>Password: </label>
        <input type = "password" name="password">
        <input type="submit" value="Admin login">
    <% end %>
<% else %>
        You are currently logged in as an administrator.
    <%= form_tag("/sessions/x", method: :delete) do %>
            <input type="submit" value="Logout">
    <% end %>
<% end %>
<%= link_to 'Edit teams', :teams %><br>
<%= link_to 'Edit manufacturers', :manufacturers %><br>
<%= link_to 'Edit products', :products %><br>
<%= link_to 'Edit tags', :tags %><br>
<%= link_to 'Edit items', :items %><br>
</div>