<div id="content">

  <h1>Listing manufacturers</h1>

  <ul id="admin-list">
    <% @manufacturers.each do  |manufacturer| %>
        <%= render manufacturer %>
    <% end %>
  </ul>

  <h2>Create new manufacturer</h2>
  <%= form_for [:admin, @manufacturer], remote: true do |f| %>
      <%= f.label :name %><br>
      <%= f.text_field(:name) %><br>
      <%= f.submit %>
  <% end %>
</div>