<%= form_for([:admin, @item], :html => {:onsubmit => 'itemFormSubmit()'}) do |f| %>
    <% if @item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

          <ul>
          <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.label :name %><br>
    <%= f.text_field :name %><br><br>

    <%= f.label :image %><br>
    <%= image_tag (@item.image_url(:medium)) %><br>
    <%= f.file_field :image %><br>
    <%= text_field_tag('item[image_url]', @image_url, :style => 'display:none' ) %><br>

    <%= f.label :card_number %><br>
    <%= f.text_field :card_number, :style => 'width:80px;'  %><br><br>

    <%= f.label :manufacturer %><br>
    <select name="item[manufacturer_id">
      <% @manufacturers.each do |manufacturer| %>
        <option value="<%=raw manufacturer.id %>" <%= 'selected' if @item.manufacturer_id == manufacturer.id %>>
          <%=raw manufacturer.name %>
        </option>
      <% end %>
    </select><br><br>

    <%= f.label :team %><br>
    <select name="item[team_id]">
      <% @teams.each do |team| %>
          <option value="<%=raw team.id %>"<%= 'selected' if @item.team_id == team.id %>>
            <%=raw team.name %>
          </option>
      <% end %>
    </select><br><br>

    <%= f.label :product %><br>
    <select name="item[product_id]">
    <% @products.each do |product| %>
        <option value="<%=raw product.id %>"<%= "selected" if @item.product_id == product.id %>>
          <%=raw product.name %>
        </option>
    <% end %>
    </select><br><br>

    <%= f.label :year %><br>
    <select name="item[year]">
      <option value="0">None</option>
      <% (@year_min..@year_max).each do |year| %>
          <option value="<%= year.to_s %>"<%= "selected" if @item.year == year %>>
            <%= year.to_s %>
          </option>
      <% end %>
    </select><br><br>

    <%= f.label :grade %><br>
    <select name="item[numeric_grade]">
      <option value="0">None</option>
      <% @grades.each do |grade| %>
          <option value="<%= grade.to_s %>"<%= "selected" if @item.numeric_grade == grade %>>
            <%= grade.to_s %>
          </option>
      <% end %>
    </select><br><br>

    Tags:
    <span id="item-form-tags-checkboxes">
    <% @tags.each do |tag| %>
        <input type="checkbox" value="<%= tag.name %>" <%= 'checked' if @item.tags.include?(tag) %>><%= tag.name %>
    <% end %>
    <input name="tag_list" id="tag_list" type="hidden">
    </span>
    <br>
    <br>

    <%= f.label :description %><br>
    <%= f.text_area :description, :style => 'width:300px; height:150px;' %><br><br>

    <%= f.label :quantity %><br>
    <%= f.text_field :quantity, :style => 'width:40px;' %><br><br>

    <%= f.label 'Price $' %><br>
    <%= f.text_field :price, :style => 'display:80px;', id: 'price', value: @item.price %><br><br>

    <%= f.label 'Shipping Price $' %><br>
    <%= f.text_field :shipping_price, :style => 'display:80px;', id: 'shipping-price', value: @item.shipping_price %><br><br>

    <%= f.submit %>
<% end %>