<tr class="line-item" id="<%= line_item.id %>">
  <td class="line-item-quantity"><%= line_item.quantity %></td>
  <td><%= line_item.item.annotated_name %></td>
  <td>$<%= sprintf("%.2f", line_item.item.price_cents / 100) %></td>
  <td class="line-item-price">
    $<%= sprintf("%.2f", line_item.quantity * line_item.item.price_cents / 100) %>
  </td>
  <td>
    <%= form_tag "/shopping_cart/destroy_line_item/#{line_item.id}", :method => :post,
                style: "font-weight: bold; color:red; font-size:1.2em",
                class: 'destroy-line-item',
                remote: true do %>
    <%= submit_tag 'X', class: 'btn btn-link', style: "font-weight: bold; color:red; font-size:1.2em" %>
    <% end %>

  </td>
</tr>