<div class="container">
<form action="<%= namespace %>/items" id="advanced-search-form">
  <div class="form-group">
  <h2>Search by</h2>
  <br>
  <button type="button" class="form-control" onclick="clearAll()">Clear all</button>
  <br>
  <br>
  <select name="all_or_any" class="form-control">
    <option value="any">Match any values</option>
    <option value="all">Match all values</option>
  </select>
  Sort by:
  <select name="sort_by" class="form-control">
    <option value="relevance">Relevance</option>
    <option value="newest">Newest</option>
    <option value="oldest">Oldest</option>
    <option value="most_views">Most viewed</option>
    <option value="least_views">Least viewed</option>
    <option value="year_highest_to_lowest">Year(high to low)</option>
    <option value="year_lowest_to_highest">Year(low to high)</option>
    <option value="grade_highest_to_lowest">Grade(high to low)</option>
    <option value="grade_lowest_to_highest">Grade(low to high)</option>
  </select>
  <br><br>
  <span id="player-name-inputs">
  Player names:
  <input name="name_words" class="player-name-input form-control"></span>
  </span>
  <br>
  <br>
  <label class="form-control">
  Teams:
  </label>
  <br>
  <div id="team-checkboxes" class="container">
  <% @teams.each do |team| %>
        <label class="col-xs-4">
          <input type="checkbox" class="form-control" id="team-checkbox" value="<%= team.id %>">
          <%= team.name %>
        </label>
  <% end %>
  <input name="teams" id="teams-input" type="hidden">
  </div>
  <br>
    <label class="form-control">
      Manufacturers:
    </label>
  <br>
  <div id="manufacturer-checkboxes" class="container">
  <% @manufacturers.each do |manufacturer| %>
    <span class="advanced-search-labeled-checkbox">
      <label class="col-xs-4">
        <input type="checkbox" class="form-control" id="manufacturers-checkbox" value ="<%= manufacturer.id %>">
        <%= manufacturer.name %>
      </label>
    </span>
  <% end %>
  <input name="manufacturers" id="manufacturers-input" type="hidden">
  </div>
  <br>
  <br>
    <label class="form-control">
      Products:
    </label>
  <br>
  <div id="product-checkboxes" class="container">
  <% @products.each do |product| %>
    <span class="advanced-search-labeled-checkbox">
    <label class="col-xs-4">
      <input type="checkbox" class="form-control" id="products-checkbox" value ="<%= product.id %>">
      <%= product.name %>
    </label>
    </span>
  <% end %>
  <input name="products" id="products-input" type="hidden">
  </div>
  <br>
  <br>
  <label class="form-control">
  Tags:
  </label>
  <br>
  <div id="tags-checkboxes" class="container">
  <% @tags.each do |tag| %>
    <span class="advanced-search-labeled-checkbox">
      <label class="col-xs-4">
        <input type="checkbox" class="form-control" id="tags-checkbox" value ="<%= tag.id %>">
        <%= tag.name %>
      </label>
    </span>
  <% end %>
  <input name="tags" id="tags-input" type="hidden">
  </div>
  <br>
  <br>
    <label class="form-control">
    Year
    </label>
  <select name="year" class="form-control">
    <option></option>
    <% @years.each do |year| %>
        <option value="<%= year.to_s %>">
          <%= year.to_s %>
        </option>
    <% end %>
  </select>
    <br>
    <label class="form-control">
    or years from:
    </label>
  <select name="year_min" class="form-control">
    <option></option>
    <% @years.each do |year| %>
        <option value="<%= year.to_s %>">
          <%= year.to_s %>
        </option>
    <% end %>
  </select>
    <br>
    <label class="form-control">
    to:
    </label>
  <select name="year_max" class="form-control">
    <% @years.each do |year| %>
        <option value="<%= year.to_s %>">
          <%= year.to_s %>
        </option>
    <% end %>
    <option selected="selected"></option>
  </select>
  <br><br>
  <label class="form-control">
  Grade:
  </label>
  <select class="form-control">
    <option></option>
    <% (1..10).to_a.each do |grade| %>
        <option value="grade">
          <%= grade %>
        </option>
    <% end %>
  </select>
    <br>
  <label class="form-control">
  or grade from:
  </label>
  <select class="form-control">
    <option></option>
    <% (1..10).to_a.each do |grade| %>
        <option value="grade">
          <%= grade %>
        </option>
    <% end %>
    </select>
    <br>
    <label class="form-control">
    to:
    </label>
  <select class="form-control">
    <% (1..10).to_a.each do |grade| %>
        <option value="grade" selected="selected">
          <%= grade %>
        </option>
    <% end %>
    <option selected></option>
  </select><br>
  <br>
  <input type="submit" class="form-control" onclick="advancedSearchFormSubmit()">
  </div>
</form>
</div>