<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<p id="notice"><%= notice %></p>

<h1>Listing Tags</h1>

<% @tags.each do  |tag| %>
<%= link_to tag.name, tag_path(tag) %> <%= link_to 'Destroy', tag_path(tag), method: :delete, data: { confirm: 'Are you sure?' } %> <br>
<% end %>
<br>

<% if @is_admin %>
    <h2>Create new tag</h2>
    <%= form_tag("/tags", method: "post") do %>
        <%= label_tag(:q, "Tag name:") %>
        <%= text_field_tag(:tag_name) %>
        <%= submit_tag("Create") %>
    <% end %>
<% end %>
