<div id="content">

<h1>Listing <%= human_name(self.model).pluralize %></h1>

<ul id="admin-list">
    <% @categories.each do  |category| %>
      <%= render '/admin/category/category', {:category => category} %>
    <% end %>
</ul>

<h2>Create new team</h2>
<%= form_for [:admin, @category], remote: true do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field(:name) %><br>
    <%= f.label :synonyms %><br>
    <%= f.text_area :synonyms %><br>
    <%= f.submit %>
<% end %>
</div>