
<li>
  <a href="<%= item_path(item) %>">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <b><%= item.annotated_name %></b>
          </div>
        </div>

        <div class="panel-body">
            <div class="panel-item">
              <%= image_tag @item.image_url(:medium) %>
            </div>
            <span class="panel-item" style="color:red;"><p><b>
                $<%= sprintf('%.2f', item.price_cents / 100) %>
              </b></p>
            </span>
            <span class="panel-item">
            <p>
                <%= item.description[0..260] << '...' if item.description.size > 260 %>
            </p>
            </span>

        </div>

      </div>
  </a>
</li>


