<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @item.image_url(:medium) %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @manufacturer.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @item.year.to_s %>
</p>

<p>
  <strong>Tags:</strong>
  <% @item.tags.each do  |tag| %>
      <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<%= link_to 'Item list', items_path %>
