<div id="content">
    <div id="item-show-image">
      <a href="javascript: window.open('<%= @item.image_url %>', null, 'height=y, width=x, toolbar=0, location=0, status=0, scrollbars=0, resizeable=0')">
      <%= image_tag @item.image_url(:medium) %>
      </a>
    </div>
    <strong>Name:</strong>
    <%= link_to @item.name, "/items?q=#{@item.name}" %>
    <br>
    <strong>Card#:</strong>
    <% if @item.card_number %>
      <%= @item.card_number %>
    <% else %>
      None
    <% end %>
    <br>
    <strong>Manufacturer:</strong>
    <%= link_to @item.manufacturer.name, "/items?q=#{@item.manufacturer.name}" %>
    <br>
    <strong>Team:</strong>
    <%= link_to @item.team.name, "/items?q=#{@item.team.name}" %>
    <br>
    <strong>Product:</strong>
    <%= link_to @item.product.name, "/items?q=#{@item.product.name}" %>
    <br>
    <strong>Year:</strong>
    <% if @item.year != nil && @item.year != 0 %>
        <%= link_to @item.year.to_s, "/items?q=#{@item.year.to_s}" %>
    <% else %>
        None
    <% end %>

    <br>
    <strong>Grade:</strong>
    <% if @item.numeric_grade != nil && @item.numeric_grade != 0 %>
        <%= link_to @item.grade.name, "/items?q=#{@item.grade.name}" %>
    <% else %>
        None
    <% end %>
    <br>
    <strong>Tags:</strong>
    <% if @item.tags.size == 0 %>
      None
    <% else %>
        <% @item.tags.each do  |tag| %>
            <%= link_to tag.name, "/items?q=#{tag.name}" %>
        <% end %>
    <% end %>
    <br>
    <strong>Quantity: </strong><%= @item.quantity.to_s %>
    <br>
    <strong>Description:</strong>
    <%= @item.description %>
</div>
