<!DOCTYPE html>
<html>
<head>
  <title>Dad's cards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body background="/images/background.jpg">

<div id="wrapper">
    <%= render 'shared/search' %>

    <div class="main">
        <%= yield %>
    </div>

    <div class="footer" align="center">
        <img src="/images/dadscards.png">
    </div>
</div>
</body>
</html>
